.react-scroll-number {
  overflow: hidden;
  display: inline-block;
  .bounce {
    height: 100%;
    animation: bounce 0.5s linear forwards;
    .number-wrapper {
      height: 100%;
      .number-index {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        line-height: 100%;
      }

      // &.animate {
      //   animation: move 5s linear infinite;
      // }
    }
  }
}

@keyframes move {
  from {
    transform: translateY(-100%);
    filter: url(#blur);
  }
  to {
    transform: translateY(-1100%);
    filter: url(#blur);
  }
}

@keyframes bounce {
  25% {
    transform: translateY(40%);
  }
  50% {
    transform: translateY((-20%));
  }
  70% {
    transform: translateY(10%);
  }
  85% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(0);
  }
}
